.widget {
  max-width: 20%;
  height:auto;
  postion: sticky;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.widgets__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.widgets__header > h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.widgets__header > InfoIcon {
  margin-left: 10px;
}

.widget__article{
  display:flex;
  padding:10px;
  cursor: pointer;
   background-color:red;
}
.widget_article:hover{
  background-color:whitesmoke;
}
 